@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml"; 

}

<div class="container py-5 text-center">
    <h2>Access Denied</h2>
    <p>You do not have permission to view this page.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Go to Home Page</a>
</div>
